<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chessboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/chess.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
</head>
<body>
    <div id="chessboard" style="width: 400px; margin: 0 auto;"></div>
</body>
</html>

